<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>lightning voucher</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/skeleton.css" rel="stylesheet">
	<link href="/css/voucher.css" rel="stylesheet">
	<link href="/css/font.css" type="text/css" rel="stylesheet">
</head>
<body style>
<div class="hero">
	<p><h1>Lightning-Voucher</h1></p>
	<p class="reckless">HIGHLY EXPERIMENTAL USE WITH CAUTION, YOUR FUNDS MAY GET LOST</p>
	<p>Buy Vouchers to pay for payment requests in the Lightning-Network and share them.</p>
</div>
<div class="centered">
	
<div id="buy-voucher">
	<h3 id="fee-text">Buy Vouchers (fee:  @ViewData["Fee"])</h3>
	<form action="javascript:void(0);" method="GET" onsubmit="buyVoucher()">
		<input type="text" id="buy_amt" placeholder="Voucher Amount">
		<input type="text" id="buy_sat" placeholder="Satoshi per Voucher">
		<input type="submit" value="Buy">
	</form>

	<div id="buy-invoice-text">

	</div>

</div>


<div id="claim-voucher">
	<h3>Get Voucher</h3>
	<form action="javascript:void(0);" method="GET" onsubmit="claimVoucher()">
		<input type="text" id="voucher-buy-payreq" placeholder="Payment Request">
		<input type="submit" value="Get">
	</form>
	<div id="claim-div">
		<table align="center" >
			<tr>
				<th>Vouchers</th>
				<th>Remaining Satoshi</th>
			</tr>
			<tbody id="voucher-table"></tbody>
		</table>
	</div>
	<p>Node: @ViewData["Channel"]</p>
</div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="buy.js"></script>
</body>
</html>